@import "colors";
table, tbody, tr, td {
    vertical-align: bottom !important;
}
table {
    th div  {
        &.weekday {
            margin-bottom: 15px;
            color: $function-icon;
            font-size: 14px;
        }
    }
    td input:checked ~ label {
        color: white;
        border-radius: 50%;
        background-color: $primary;
    }
    td label {
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin: 5px;
        font-size: 14px;
        text-align: center;
        &.hasContent {
        }
    }
}
header {
    margin-bottom: 10px;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background-color: transparent;
        em {
            font-size: 1.7rem;
        }
    }
    & > button:last-of-type {
        width: 70px;
        height: 25px;
        margin: 0 25px;
        font-size: 0.7rem;
        border: 1px solid rgb(131, 131, 131);
    }
}

h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
}