<section class="Landing">
  <div class="Landing__Container">
    <h2 class="Landing__Title"><em class="icon_logo"></em>CHAT <br>AND<br> COINING</h2>
    <form class="Landing__Form" [formGroup]="this.form" (ngSubmit)="this.$auth.login(this.form.getRawValue())">
      <input type="text" formControlName="email" placeholder="email">
      <input type="password" formControlName="password" placeholder="password">
      <button [disabled]="this.form.invalid" type="submit">submit</button>
    </form>
  </div>
</section>

