<aside class="Menu">
  <h1 class="Menu__Title">{{this.pageName}}</h1>
  <div class="Menu__ItemsContainer">
    <ul>
      <li *ngFor="let items of (this.userMenu | keyvalue)">
        <ng-template [ngTemplateOutlet]="tMenuItem" [ngTemplateOutletContext]="{
          module: this.module.User,
          page: items.key,
          config: items.value
          }">
        </ng-template>
      </li>
      <li *ngFor="let items of (this.businessMenu | keyvalue)">
        <ng-template [ngTemplateOutlet]="tMenuItem" [ngTemplateOutletContext]="{
          module: this.module.Business,
          page: items.key,
          config: items.value
          }">
        </ng-template>
      </li>
    </ul>
    <ul>
      <li>
        <input class="Menu__Checkbox " type="radio" [id]="'landing'" (click)="this.$auth.logout()">
        <label class="Menu__Icons material-icons" [for]="'landing'">logout</label>
      </li>
    </ul>
  </div>
</aside>
<ng-template #tMenuItem let-module="module" let-page="page" let-config="config">
  <input class="Menu__Checkbox" type="radio" [id]="'menu-item'+module+'-'+page"
    [checked]="this.router.url === '/'+module+'/'+page" (change)="this.router.navigateByUrl(module+'/'+page)">
  <label class="Menu__Icons material-icons" [for]="'menu-item'+module+'-'+page">
    {{config.icon}}
  </label>
</ng-template>


