.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  background: linear-gradient(190deg, rgb(68, 53, 95), rgb(29, 44, 73));

  & > ul {
    display: none;
    flex-direction: column;
    padding: 30px 0 0 0;
  }
}


@media screen and (min-width: 370px) {
  .Menu {
    animation: growWidth .3s forwards;
    & > ul {
      display: flex;
    }
    &__Checkbox {
      display: none;
      &:checked +label {
        opacity: 1;
      }
    }
    &__Icons {
      padding: 5px 0;
      color: var(--IconWhite);
      opacity: .5;
      animation: Looming .8s ;
    }
  }

}

@keyframes growWidth {
  0% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 50px;
  }
}

@keyframes Looming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
