.MainMenu {
  width: 100vw;
  height: 80px;
  color: rgb(242, 243, 246);
  background: linear-gradient(45deg,rgb(79, 58, 99),rgb(49, 60, 107) );
  &__leftColumn {
    color: white;
    line-height: 80px;
    padding-left: 20px;
    & > h1 {
      margin: 0;
      font-weight: 400;
      font-size: 19px;
    }
  }
  &__rightColumn {
    padding-right: 8%;
  }
}

.flex-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TRNBackground {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255,.2);
}

.web-Icon-func {
  display: none;
}

.icon-func-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 3px 0;
  font-size: 14px;
  text-align: center;
  color: var(--Iconwhite);
  opacity: .6;
  cursor: default;
  &-active {
    opacity: 1;
  }
}

@media only screen and (min-width: 376px)  {

.MainMenu {

  width: 50px;
  height: 100%;
  animation: growWidth .2s ease-out;

  &__leftColumn {
    height: 50%;
    padding: 20px 0 0 0;
    line-height: 0;
  }
  &__rightColumn {
    height: 50%;
  }
}

.flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  opacity: 0;
}

.web-Icon-func {
  display: flex;
  animation: Looming 1s;
}

}

@keyframes growWidth {
  0% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 50px;
  }
}

@keyframes Looming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
