<ng-container *ngIf="this.friends$ | async as friends">
  <section *ngIf="this.coinInfo" class="d-flex flex-column align-item-center">
    <div class="content">
      <p [class.toggle-active]="this.coinInfo.isDigging">目前共<strong>{{friendsNums}}</strong>人在線上</p>
      <p [class.toggle-active]="this.coinInfo.isDigging">一秒可挖出<strong>{{currentIncomePerSec}}</strong>枚</p>
      <p [class.toggle-active]="this.coinInfo.isDigging">
        總共已累積持有<strong *ngIf="this.assets$ | async as assets">
          {{assets}}
        </strong>枚
      </p>
    </div>
    <label class="toggle" for="coining-toggle">
      <input class="d-none" type="checkbox" id="coining-toggle" [checked]="this.coinInfo.isDigging"
        (change)="this.digging($event)">
      <span [class.toggle-active]="this.coinInfo.isDigging">
        <em class="material-icons" [class.toggle-active]="this.coinInfo.isDigging">{{this.coinInfo.isDigging ?
          'check_circle':'do_not_disturb_on'}}</em>
      </span>
    </label>
  </section>
</ng-container>
