<section class="FCoin column-center"
[class.background-active]="this.$coining.isActive">
  <div class="FCoin__Container">
    <div>
      <p class="FCoin__Text">目前上線人數 {{this.peopleOnlineNumber||'--'}} 人</p>
    </div>
    <p class="FCoin__Text">績效 {{this.gainCoinsPerSec||'--'}} 顆/秒</p>
    <!-- <button class="FCoin__Btn" (click)="this.coiningSwitch()">{{this.buttonText}}</button> -->
    <label class="switch"  (change)="coiningSwitch()">
      <input class="d-none" type="checkbox" >
      <span class="slider" #tSwitch>
        <em class="material-icons"
          [class.toggle-active]="this.$coining.isActive">{{this.$coining.isActive? 'radio_button_checked': 'do_not_disturb_on'}}</em>
      </span>
    </label>
  </div>
</section>
