.FCoin {
  width: 100vw;
  height: 100%;
  background: linear-gradient(190deg, rgb(36, 147, 221), rgb(65, 112, 221));
  &__container {
  color: aliceblue;

  & > div {
    height: 50px;
    padding: 5px 0;
  }
  }

  &__btn {
    display: flex;
    width: 80px;
    height: 30px;
    margin-top: 45px;
    text-align: center;
    border-radius: 5px;
    border:none;
    background: rgb(59, 137, 182);
  }

  &__text {
    line-height: 40px;
    vertical-align: baseline;
  }
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
