:host {
  display: block;
  box-shadow: 0 2px 5px 0 rgba(99, 115, 129, 0.2), 0 6px 14px 0 rgba(99, 115, 129, 0.1),
    0 24px 24px 0 rgba(99, 115, 129, 0.04);
  border: 1px solid rgba(99, 115, 129, 10%);
  background-color: white;
  width: 100%;
  border-radius: 3px;
  header {
    user-select: none;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    em {
      font-size: 1.25rem;
    }
  }

  section {
    border-top: 1px solid #dfe3e8;
    padding: 1.5rem;
  }

  &[hideHeader] {
    header {
      display: none;
    }
  }

  &[hideClose] {
    header > em {
      display: none;
    }
  }
}
