:host {
  display: block;
  border: 1px solid rgba(99, 115, 129, 10%);
  background-color: white;
  width: 100%;
  border-radius: 3px;
  header {
    user-select: none;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #dfe3e8;
    em {
      font-size: 1.25rem;
    }
  }

  section {
    padding: 1.5rem;
  }

  &[hideHeader] {
    header {
      display: none;
    }
  }

  &[hideClose] {
    header > em {
      display: none;
    }
  }
}

header.mini-window {
    padding: 0.5rem;
    border-bottom: none;
    em {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      font-size: xx-small;
      color: red;
      background-color: red;
      &:hover {
        color: rgb(74, 7, 7);
        opacity: 50%;
      }
  }
}
section.mini-window {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
  
