@import "variables";

.active {
  background: rgb(248, 249, 250);
}

.UserList {
  &__Container {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    input:checked + label {
      background: rgb(248, 249, 250);
    }
    li:hover {
      background: rgb(248, 249, 250);
    }
  }
  &__img {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0 5px 0 0;
    background-color: rgb(217, 223, 231);
    border-radius: 50%;
  }
  label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100%-55px);
    padding: 9px 17px;
    cursor: pointer;
    &.is-login::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 10px;
      width: 5px;
      height: 5px;
      background: #28b2fd;
      border-radius: 50%;
    }
    &:hover {
      background: rgb(248, 249, 250);
    }
    .column-left {
      display: flex;
      flex-direction: column;
      width: 203px;
      padding: 0 0 0 7px;
    }
    & img {
      object-fit: cover;
      &.is-login {
        box-shadow: 5px,5px,5px,5px,#28b2fd;
        filter: drop-shadow(0,0,0,5px,#28b2fd);
        transition: .3s;
      }
    }
  }
  &__name {
    margin: 0;
    font-size: map-get($font-level, "sm");
    color: black;
  }
  &__summary {
    width: 100%;
    overflow: hidden;
    padding: 5px 0 0 0;
    font-size: map-get($font-level, "xs");
    color: #a9a8a8;
    text-overflow: ellipsis;
    line-clamp: 2;
  }
}


