<section class="UserList" *ngIf="this.friends$ | async as friends">
  <ul class="UserList__Container">
    <li *ngFor="let friend of friends">
      <input class="d-none" type="radio" name="user-list" [id]="'user-list'+friend.id"
        [checked]="friend.id === this.activatedFriendId" (change)="this.router.navigateByUrl('user/chat/' + friend.id)">
      <label [for]="'user-list'+friend.id">
        <img [src]="friend.avatar || 'assets/images/icons/empty-avatar.jpeg'" class="UserList__img">
        <div class="column-left">
          <p class="UserList__name">{{friend.name}}</p>
          <p class="UserList__summary">{{'test'}}</p>
        </div>
      </label>
    </li>
  </ul>
</section>
