.active {
  background: rgb(248, 249, 250);
}

.UserList {
  &__Container {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    input:checked + label {
      background: rgb(248, 249, 250);
    }
    li:hover {
      background: rgb(248, 249, 250);
    }
  }
  &__img {
    width: 42px;
    height: 42px;
    margin: 0 5px 0 0;
    background-color: rgb(217, 223, 231);
    border-radius: 50%;
  }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100%-55px);
    padding: 7px 15px;
    cursor: pointer;
    &:hover {
      background: rgb(248, 249, 250);
    }
    .column-left {
      display: flex;
      flex-direction: column;
      width: 203px;
      padding: 0 0 0 7px;
    }
  }
  &__name {
    margin: 0;
    font-size: 12px;
    color: black;
  }
  &__summary {
    width: 100%;
    overflow: hidden;
    padding: 5px 0 0 0;
    font-size: 10px;
    color: #a9a8a8;
    text-overflow: ellipsis;
    line-clamp: 2;
  }
}
