<ul class="w-100">
  <li class="d-flex justify-content-center align-items-center">
    <img (click)="this.toggleProfileDialog()" [src]="this.user?.avatar || 'assets/images/icons/empty-avatar.jpeg'">
  </li>
  <ng-container *ngFor="let menu of this.Menu | keyvalue">
    <li *ngIf="!menu.value.isHide" class="d-flex flex-row align-items-center justify-content-center">
      <input [(ngModel)]="this.module" (ngModelChange)="this.moduleChanged.emit($event)" class="d-none" [id]="menu.key"
        [value]="menu.key" type="radio" name="menu">
      <label [for]="menu.key" class="material-icons">
        {{menu.value.icon}}
      </label>
      <span class="des" *ngIf="showUserMark(menu.key)">{{this.unreadMessages.length}}</span>
      <span class="warnRound" *ngIf="showFriendMark(menu.key)"></span>
    </li>
  </ng-container>
</ul>

<ul class="w-100">
  <li class="d-flex flex-row align-items-center justify-content-center">
    <input class="d-none" id="logout" type="radio" (change)="this.$auth.logout()">
    <label for="logout" class="material-icons">
      logout
    </label>
  </li>
</ul>