:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px 0 30px 0;
  background: linear-gradient(
    190deg,
    rgb(54, 110, 163) 5%,
    10%,
    rgb(36, 49, 70),
    rgb(49, 58, 82)
  );
  animation: growWidth 0.3s;
}

img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  color: white;
  font-size: 22px;
  opacity: 0.5;
  animation: Looming 0.8s;
  &:hover {
    opacity: 0.7;
  }
}

li {
  &:not(:first-of-type) {
    margin-top: 15px;
  }
}

input:checked + label {
  opacity: 1;
}

@keyframes growWidth {
  0% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 50px;
  }
}

@keyframes Looming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
