@import "colors";
@import "variables";
:host {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px 0 30px 0;
  background: linear-gradient(
    190deg,
    #41e1dd 5%, 10%, #43a2e7, #24aaeb
    );
  animation: growWidth 0.3s;
}

img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  color: white;
  font-size: 23px;
  opacity: 0.5;
  animation: Looming 0.8s;
  &:hover {
    opacity: 0.7;
  }
}

// li {
//   &:not(:first-of-type) {
//     margin-top: 18px;
//   }
// }

input:checked + label {
  opacity: 1;
}

li  {
  position: relative;
  height: 46px;
  & > .des {
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    padding: 4px;
    font-size: map-get($font-level, 'xs' );
    color: $white;
    background-color: $warn;
    border: 2px solid $primary;
    border-radius: 12px;
  }
  & > .warnRound {
    position: absolute;
    top: 7px;
    right: 15px;
    display: flex;
    width: 5px;
    height: 5px;
    background-color: #ff3737;
    border-radius: 50%;
  }
}

@keyframes growWidth {
  0% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 50px;
  }
}

@keyframes Looming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
