<ul class="w-100">
  <li class="d-flex justify-content-center align-items-center">
    <img [src]="this.user?.avatar" alt="">
  </li>
  <li *ngFor="let menu of this.Menu | keyvalue" class="d-flex flex-row align-items-center justify-content-center">
    <input [(ngModel)]="this.module" (ngModelChange)="this.moduleChanged.emit($event)" class="d-none" [id]="menu.key"
      [value]="menu.key" type="radio" name="menu">
    <label [for]="menu.key" class="material-icons">
      {{menu.value}}
    </label>
  </li>
</ul>

<ul class="w-100">
  <li class="d-flex flex-row align-items-center justify-content-center">
    <input class="d-none" id="logout" type="radio" (change)="this.$auth.logout()">
    <label for="logout" class="material-icons">
      logout
    </label>
  </li>
</ul>
