<app-layout *ngIf="!this.isIndividualPage(); else tIndividual"></app-layout>
<ng-template #tIndividual>
  <router-outlet></router-outlet>
</ng-template>
<app-overlay *ngIf="this.$overlay.isActivated"></app-overlay>
