<app-search-input [(ngModel)]="this.keyword" (keydown)="this.afterKeydown($event)"></app-search-input>
<ng-container *ngIf="this.matchMessageIds.length > 0">
  <p>{{this.current + 1}}/{{this.matchMessageIds.length}}</p>
  <nav class="d-flex flex-row align-iems-center ">
    <button [disabled]="(this.current + 1) >= this.matchMessageIds.length" (click)="this.switch(1)">
      上
    </button>
    <button [disabled]="this.current === 0" (click)="this.switch(-1)">
      下
    </button>
  </nav>
</ng-container>
<button (click)="this.searchElement.checked = false;">X</button>
