<ng-container *ngIf="this.friend; else empty">
  <header #tHeader class="w-100">
    <nav>
      <h3>{{this.friend?.name}}</h3>
      <em></em>
    </nav>
    <nav>
      <em class="material-icons">search</em>
      <em class="material-icons">content_paste</em>
    </nav>
    <app-chat-announcement *ngIf="false"></app-chat-announcement>
  </header>
  <section *ngIf="this.$feature.messageHistory$ | async as history"
    [style.height]="'calc('+ '100% - ' + tHeader.clientHeight + 'px - ' + tFooter.clientHeight + 'px)'">
    <ul class="w-100">
      <li *ngFor="let record of history; let index = index" class="message" 
        [class.message__myself]="record.sendTo !== this.userId"
        [class.message__friend]="record.sendTo === this.userId && this.showAvatar(history, index, record)">
        <img *ngIf="record.sendTo === this.userId" [src]="this.friend.avatar || this.defualtAvatar" alt="">
        <p>{{record.message}}</p>
      </li>
    </ul>
  </section>
  <footer #tFooter>
    <textarea [(ngModel)]="this.message" (keydown)="this.afterKeydown($event)" class="p-0"
      placeholder="請輸入訊息"></textarea>
    <nav>
      <div class="d-flex flex-row align-itmes-center">
        <em rotate45 class="material-icons">attach_file</em>
        <em class="material-icons">bookmark_border</em>
      </div>
    </nav>
  </footer>
</ng-container>


<ng-template #empty>
  <section class="content-empty">
    <span class="material-icons ">
      question_answer
    </span>
    <p>開始聊天吧!</p>
  </section>
</ng-template>