@import "variables";

:host {
  display: block;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  div {
    height: 50px;
  }
  padding: 0 0.8rem;
  h3 {
    margin-right: 0.5rem;
    font-size: map-get($font-level, "sm");
  }
}

app-chat-announcement {
  width: 100%;
  height: 40px;
}

footer {
  border-top: 1px solid $light-border;
  padding: 0.9rem 1rem 0;
  textarea {
    outline: none;
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 140px;
    border: none;
    resize: none;
    font-size: map-get($font-level, "xs");
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: map-get($font-level, "xs");
    }
  }
  nav {
    height: 50px;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.content-empty {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $disable-area-text;
  background: $disable-area-background;
  .material-icons {
    font-size: 120px;
  }
  & p {
    font-size: 20px;
  }
}

section {
  overflow-y: auto;
  padding: 0 12px;
}

.date-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 6px 12px;
    font-size: map-get($font-level, "xs");
    color: $caption-text;
    background-color: $disable-area-background;
    border-radius: 11px;
  }
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  padding: 10px 0;
  font-size: map-get($font-level, "sm");
  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 50px;
      right: 0;
      width: 10px;
      height: 10px;
      background-color: $primary;
      transform: rotateZ(45deg);
    }
  }
  .text {
    margin: 4px 0;
    padding: 10px 9px;
    word-wrap: break-word;
    border-radius: 16px;
  }
  .caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 7px;
    font-size: map-get($font-level, "xs");
    color: $caption-text;
    white-space: nowrap;
  }
  .time {
    padding: 3px 0;
  }

  &__myself {
    justify-content: flex-end;
    .content {
      flex-direction: row-reverse;
    }
    .caption {
      align-items: flex-end;
    }
    .text {
      background: $self-message-background;
    }
  }

  &__friend {
    justify-content: flex-start;
    align-items: flex-end;
    .text {
      display: flex;
      background: $friend-message-background;
    }
    .avatar {
      width: 41px;
      margin-right: 10px;
      img {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .caption {
      p:first-child {
        display: none;
      }
    }
  }
}
