@import "variables";

:host {
  display: block;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  border-bottom: none;

  div {
    height: 50px;
    padding: 0 0.8rem;
  }
  h3 {
    margin: 0 0.5rem 0 0;
    font-size: map-get($font-level, "sm");
  }
  label {
    margin-right: 10px;
  }
}

app-chat-announcement {
  width: 100%;
  height: 50px;
}

.filter {
  width: 100%;
  background: red;
}

footer {
  position: relative;
  z-index: map-get($layout-level, 'cover');
  border-top: 1px solid $light-border;
  padding: 0.9rem 1rem 0;
  background: $white;
  .input-area {
    outline: none;
    width: 100%;
    min-height: 80px;
    max-height: 200px;
    font-size: map-get($font-level, "ms");
    line-height: 1.3rem;
    border: none;
  }
  textarea {
    outline: none;
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 140px;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: map-get($font-level, "xs");
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: map-get($font-level, "xs");
    }
  }
  nav {
    height: 50px;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.content-empty {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $disable-area-text;
  background: $disable-area-background;
  .material-icons {
    font-size: 120px;
  }
  & p {
    font-size: 20px;
  }
}

section {
  position: relative;
  overflow-y: auto;
  min-width: 300px;
  padding: 12px;
  .date-buoy {
    display: inline-block;
    z-index: map-get($layout-level, 'cover' );
    position: fixed;
    top: calc(47px + 50px + 10px);
    transform: translateX(-50%);
    padding: 6px 12px;
    font-size: 0.75rem;
    color: #595c61;
    background-color: $white;
    border: 1px solid #e0e1e3;
    border-radius: 14px;
    opacity: 0;
    &.top-gap {
      top: calc(47px + 50px + 50px + 10px);
    }
  }
  .scroll-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 155px;
    right: 8px;
    width: 37px;
    height: 37px;
    background-color: $white;
    border: 1px solid rgb(231, 226, 226);
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    animation: fade-in .2s ease-in forwards;
    opacity: 0;
  }
}

.date-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 21px 0 10px 0;
  p {
    padding: 6px 12px;
    font-size: map-get($font-level, "xs");
    color: $caption-text;
    background-color: $disable-area-background;
    border-radius: 11px;
  }
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: map-get($font-level, 'sm');
  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .text {
    margin: 4px 0;
    padding: 7px 11px;
    line-height: 17px;
    word-wrap: break-word;
    border-radius: 16px;
  }
  .caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: fit-content;
    padding: 0 7px;
    font-size: map-get($font-level, "xs");
    color: $caption-text;
    white-space: nowrap;
  }
  .time {
    height: 14px;
    padding: 3px 0;
  }
  &.subMessage {
    padding-top: 0;
  }

  &__myself {
    justify-content: flex-end;
    padding: 13px 0 5px 0;
    .content {
      flex-direction: row-reverse;
      padding-right: 12px;
      span {
        position: absolute;
        right: 2px;
        top: -15px;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        box-shadow: 8px 2px $self-message-background;
        transform: rotate(73deg);
      }
    }
    .caption {
      align-items: flex-end;
    }
    .text {
      position: relative;
      background: $self-message-background;

    }
  }

  &__friend {
    justify-content: flex-start;
    align-items: flex-end;
    padding: 23px 0 6px 0;
    .content {
      padding-left: 12px;
      span {
        position: absolute;
        left: -1px;
        top: -11px;
        width: 23px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 8px 2px #e9ebec;
        transform: rotate(67deg);
      }
    }
    .text {
      display: flex;
      background: $friend-message-background;
    }
    .avatar {
      min-width: 41px;
      margin-right: 2px;
      img {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

:host::ng-deep .matched-message {
  font-weight: map-get($font-weight, 'l' );
  color:rgb(40, 142, 244);
  background-color: rgb(239, 239, 89) !important;
}

.small-padding {
  padding: 0 0 5px 0;
}

.fade-down-out {
  animation: fade-down-out 1.5s ease-out forwards !important;
}

.fade-out {
  animation: fade-out 1s ease-in forwards;
}
.fade-in {
  animation: fade-in .2s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    color: $white;
  } 100% {
    opacity: .9;
    color: $Black;
  }
}

@keyframes fade-out {
  0% {
    opacity: .8;
    color: $Black;
  } 100% {
    opacity: 0;
    color: $white;
  }
}

@keyframes fade-down-out {
  0% {
    opacity: .9;
    transform: translateY(0);
  } 100% {
    opacity: .9;
    transform: translateY(75px);
  }
}


