<ng-container *ngIf="this.friend; else empty">
  <header #tHeader class="w-100">
    <nav>
      <h3>{{this.friend?.name}}</h3>
      <em></em>
    </nav>
    <nav>
      <em class="material-icons">search</em>
      <em class="material-icons">content_paste</em>
    </nav>
    <app-chat-announcement *ngIf="false"></app-chat-announcement>
  </header>
  <section #tScrollContainer class="scroll-bar" *ngIf="this.$user.user$ | async as user" [scrollTop]="this.scrollTop"
    appScrollControl (scrolling)="onScroll(tScrollContainer)" (scrollEnd)="onScrollEnd()"
    [style.height]="'calc('+ '100% - ' + tHeader.clientHeight + 'px - ' + tFooter.clientHeight + 'px)'">
    <!-- date buoy -->
    <div #tDateBuoy class="date-buoy" *ngIf="this.dateBuoyValue && !isScrollToBottom" [style.left]="this.dateBuoyLeft"
      [class.fade-out]="this.isScrollStop" [class.fade-in]="!this.isScrollStop">
      {{this.dateBuoyValue}}
    </div>

    <ul #tMessages class="w-100">
      <ng-container *ngFor="let record of this.messageHistory; let index = index">
        <li class="date-divider" *ngIf="this.showDateDivider(this.messageHistory, index, record)">
          <p #tDateDividers>{{record.sendTime|chatDate}}</p>
        </li>
        <li class="message" [class.message__myself]="record.sendTo !== this.userId"
          [class.message__friend]="record.sendTo === this.userId"
          [class.subMessage]="isAppendage(this.messageHistory, index, record)">
          <div class="avatar">
            <img *ngIf="this.showAvatar(this.messageHistory, index, record)"
              [src]="this.friend.avatar || this.defaultAvatar" alt="">
          </div>
          <div class="content">
            <p class="text">{{record.message}}</p>
            <div class="caption">
              <p *ngIf="this.record.isRead && this.record.sendTo !== this.userId">已讀</p>
              <p class="time">{{this.hideTime(this.messageHistory, index, record) ? '' : record.sendTime|chatTime}}</p>
            </div>
            <!-- 對話框尾巴 -->
            <span *ngIf="!isAppendage(this.messageHistory, index, record)"></span>
          </div>
        </li>
      </ng-container>
    </ul>
    <!-- scroll button -->
    <button class="scroll-button" (click)="scrollToBottom(tScrollContainer, tMessages)"
      [class.fade-down-out]="isScrollToBottom">
      <span class="material-icons">
        arrow_downward
      </span>
    </button>
  </section>
  <footer #tFooter>
    <textarea [(ngModel)]="this.message" (keydown)="this.afterKeydown($event)" class="p-0"
      placeholder="請輸入訊息"></textarea>
    <nav>
      <div class="d-flex flex-row align-itmes-center">
        <em rotate45 class="material-icons">attach_file</em>
        <em class="material-icons">bookmark_border</em>
      </div>
    </nav>
  </footer>
</ng-container>


<ng-template #empty>
  <section class="content-empty">
    <span class="material-icons ">
      question_answer
    </span>
    <p>開始聊天吧!</p>
  </section>
</ng-template>