<header #tHeader class="w-100">
  <nav>
    <h3>{{this.friend?.name}}</h3>
    <em></em>
  </nav>
  <nav>
    <em class="material-icons">search</em>
    <em class="material-icons">content_paste</em>
  </nav>
  <app-chat-announcement *ngIf="false"></app-chat-announcement>
</header>
<section [style.height]="'calc('+ '100% - ' + tHeader.clientHeight + 'px - ' + tFooter.clientHeight + 'px)'">
  123
</section>
<footer #tFooter>
  <textarea [(ngModel)]="this.message" (keydown)="this.afterKeydown($event)" class="p-0" placeholder="請輸入訊息"></textarea>
  <nav>
    <div class="d-flex flex-row align-itmes-center">
      <em rotate45 class="material-icons">attach_file</em>
      <em class="material-icons">bookmark_border</em>
    </div>
  </nav>
</footer>
