@import "variables";

:host {
  position: relative;
}

.dialog {
  z-index: map-get($layout-level, "overlay");
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  @each $key, $value in $dialog-size {
    &--#{$key} {
      width: $value;
      max-width: $value;
    }
  }

  @each $position in $positions {
    &--#{$position} {
      display: flex;
      flex-direction: row;
      & > .dialog__container {
        margin: 0;
        padding: 0;
      }
      @if ($position == "t") {
        align-items: flex-start;
        justify-content: flex-start;
      } @else if($position == "r") {
        align-items: flex-start;
        justify-content: flex-end;
      } @else if($position == "b") {
        align-items: flex-end;
        justify-content: flex-start;
      } @else {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  &__container {
    margin: 0 auto;
    padding: 1.75rem 0;
  }

  &__backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: map-get($breakpoints, "md")) {
  .dialog {
    @each $key, $value in $dialog-size {
      &--#{$key} {
        width: 80%;
        max-width: 80%;
      }
    }
  }
}
