<section class="Overlay">
  <div *ngIf="this.isLoading" class="Loading">
    <svg viewBox="25 25 50 50">
      <circle cx="50" cy="50" r="20" fill="none" stroke="#70c542" stroke-width="3" />
    </svg>
  </div>
</section>
