<section #tOverlay *ngFor="let dialog of this.dialogs"
class="
dialog
{{ dialog.params.options?.isAside ? 'dialog--r' : ''}}
{{ dialog.params.options?.backdrop ? 'dialog__backdrop' : ''}}
{{ this.getCustomClasses(dialog.params.options?.classes) }}
{{ 'dialog__' + dialog.params.options?.template||'' }}"
(click)="this.onDialogBackdropClick(dialog, $event, tDialogContainer)"
>
  <div #tDialogContainer class="dialog__container bg-white focus dialog--{{dialog.params.size}} p-1"
  appDragMove (OnDragMove)="this.setDialogPosition($event, tDialogContainer)"
  [class.py-0]="dialog.params.options?.location"
  [ngStyle]="{
  'top': this.getPositionOffset(dialog.params.options?.location?.y) + 'px',
  'bottom': this.getPositionOffset(dialog.params.options?.location?.y, true) + 'px',
  'left': this.getPositionOffset(dialog.params.options?.location?.x) + 'px',
  'right': this.getPositionOffset(dialog.params.options?.location?.x, true) + 'px',
  'position': dialog.params.options?.location ? 'fixed': 'unset'
  }">
  <div class="poi"></div>
    <section class="position-relative" [class.m-2]="dialog.params.options?.draggable">
      <ng-template *ngComponentOutlet="dialog.component; injector: dialog.injector"></ng-template>
    </section>
  </div>
</section>

<ng-container *ngIf="this.$overlay.loadingQueue$ | async as loadings">
  <app-loading *ngIf="loadings.size > 0"></app-loading>
</ng-container>
