.MainFooter {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  border-top: 1px solid rgb(245, 245, 245);
  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px;
    font-size: 11px;
    list-style-type: none;
  }
}

.icon-button {
  display: flex;
  width: 27px;
  height: 27px;
  background: yellow;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TRNBackground {
  border-top: none;
}
