:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    190deg,
    #2496ff 5%, 10%, #279cef, #1c4bc8
    );
}



.toggle {
  position: relative;
  width: 72px;
  height: 32px;
  background: #c9d2d6;
  border-radius: 20px;
  & input {
    &:hover + span {
      opacity: 1;
    }
    &:checked + span {
      transform: translateX(40px) rotateZ(360deg);
    }
  }
  & span {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 26px;
    width: 26px;
    background: cornsilk;
    transition: .3s;
    border-radius: 50%;
    opacity: .5;
      & em {
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: darkkhaki;
      }
  }
}
