@import "reset";
@import "root";
@import "variables";
@import "colors";
@import "img";
@import "style";

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
