// Common
$light-border: rgb(245, 245, 245);
$normal-border: rgb(207, 207, 207);
$normal-border-hover: rgb(172, 172, 172);
$primary: #539cf0;
$primary-hover: #2d7cd6;
$caption-text: #afb1b5;
$watermark: #eaeef5;
$disable-area-background: #f2f6f8;
$disable-area-text: #d0d5db;

// Chat
$friend-message-background: rgb(233, 235, 236);
$self-message-background: #a3cdfd;

$white: #fff;
$black: #000;

$c-F4FAFF: #f4faff;
$c-F4F6F8: #f4f6f8;
$c-ECEEF1: #eceef1;
$c-3C547D: #3c547d;
$c-2C4165: #2c4165;
$c-00A3B4: #00a3b4;
$c-0887E3: #0887e3;
$c-B8061C: #b8061c;
$c-008000: #008000;

$c-212B36: #212b36;
$c-637381: #637381;
$c-70747B: #70747b;
$c-919EAB: #919eab;
$c-C4CDD5: #c4cdd5;
$c-DFE3E8: #dfe3e8;
$c-EDF7E4: #edf7e4;
$c-D80238: #d80238;
$c-FEE7E7: #fee7e7;
$c-E4F2F3: #e4f2f3;
$c-E79A1A: #e79a1a;
$c-FEF4E7: #fef4e7;
$c-6EADDE: #6eadde;
$c-E5F1FB: #e5f1fb;
$c-087DED: #087ded;
$c-0770D4: #0770d4;
$c-1873C9: #1873c9;
$c-3EA603: #3ea603;
$c-9E3206: #9e3206;
$c-F2EAE0: #f2eae0;

$east-bay: $c-3C547D;
$dark-blue: $c-2C4165;
$bright-blue: $c-0887E3;
$aqua-green: $c-00A3B4;
$dark-aqua-green: #037f8c;
$polo-blue: #90a4c6;
$polo-green: #9fe5e3;
$background-color: #f6fbfc;

$rose: $c-B8061C;
$carmine: $c-D80238;
$bean-green: $c-008000;
$chrome-yellow: $c-E79A1A;
$midnight: $c-212B36;
$dark-gray-blue: $c-637381;
$gray: $c-70747B;
$gray-blue: $c-919EAB;
$link-water: $c-C4CDD5;
$light-gray: $c-DFE3E8;
$sliver: $c-ECEEF1;
$gainsboro: $c-F4F6F8;
$alice-blue: $c-F4FAFF;
$light-green: $c-EDF7E4;
$light-yellow: $c-FEF4E7;
$light-aqua-green: $c-E4F2F3;
$light-red: $c-FEE7E7;
$azure: $c-087DED;
$science-blue: $c-0770D4;
$navy-blue: $c-1873C9;
$aqual-pearl: $c-6EADDE;
$light-blue: $c-E5F1FB;
$water-grass: $c-3EA603;
$coffee: $c-9E3206;
$light-brown: $c-F2EAE0;
