// Common
$light-border: rgb(245, 245, 245);
$normal-border: rgb(207, 207, 207);
$normal-border-hover: rgb(172, 172, 172);
$primary: #539cf0;
$primary-hover: #2d7cd6;
$caption-text:  #afb1b5;
$watermark: #eaeef5;
$disable-area-background: #f9fcff;
$disable-area-text:#dbdfe5;

// Chat 
$friend-message-background: rgb(221, 224, 226);
$self-message-background: #a3cdfd;