* {
  font-size: 16px;
  overflow: hidden;
}

h3 {
  line-height: 20px;
  margin-bottom: 0.5rem;
  font-size: map-get($font-level, "sm");
  color: $midnight;
  &:empty {
    display: none;
  }
}

em {
  cursor: pointer;
  color: black;
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.material-icons {
  font-size: 1.2rem;
  &[rotate45] {
    transform: rotateZ(45deg);
  }
}
