@import "colors";

$font-level: (
  xxl: 1.5rem,
  xl: 1.375rem,
  lgx: 1.25rem,
  lg: 1.125rem,
  md: 1rem,
  sm: 0.875rem,
  xs: 0.75rem,
);

$font-weight: (
  s: 100,
  m: 400,
  l: 600
);

// $font-color: {
//   b: 
// }

$layout-level: (
  cover: 2,
  important: 5,
  overlay: 99,
  supreme: 100,
);

$dialog-size: (
  sm: 343px,
  md: 500px,
  lg: 762px,
  xl: 1140px,
);

$breakpoints: (
  md: 767px,
  xl: 1279px,
  xxl: 1919px,
);

$positions: "t", "r", "b", "l";
