@import "colors";

$font-level: (
  xxl: 1.5rem,
  xl: 1.375rem,
  lgx: 1.25rem,
  lg: 1.125rem,
  md: 1rem,
  sm: 0.875rem,
  xs: 0.75rem,
);

$layout-level: (
  cover: 2,
  important: 5,
  overlay: 99,
  supreme: 100
);
