<section class="Layout">
  <aside class="Layout__Aside">
    <app-main-menu></app-main-menu>
  </aside>
  <div class="Layout__Main">
    <header>
      <app-header></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer class="Layout__Footer">
      <app-main-footer></app-main-footer>
    </footer>
  </div>
  <div class="Layout__Content">
    <main-content></main-content>
  </div>
</section>

<!-- <app-full-screen-loader #loader></app-full-screen-loader> -->
