:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

aside {
  min-width: 57px;
}

header {
  height: 48px;
}

main {
  height: 100%;
}

nav {
  width: 280px;
  height: 100%;
  overflow-y: auto;
}

section {
  width: calc(100% - 280px);
  height: 100%;
  overflow-y: auto;
}
