:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

aside {
  width: 55px;
}

header {
  height: 35px;
}

main {
  height: calc(100% - 35px);
}

nav {
  min-width: 280px;
  height: 100%;
  overflow-y: auto;
}

section {
  width: calc(100% - 280px);
  height: 100%;
  overflow-y: auto;
}
