    <label for="input">
        <input #tInput type="text" placeholder="請輸入ID搜尋" name="input" (keydown)="afterKeyDown($event)" maxlength="30">
        <span class="material-icons" (click)="clearInput(tInput)">
            cancel
        </span>
        <span class="material-icons" (click)="afterClickSearch(tInput)">
            search
        </span>
    </label>
    
        <p *ngIf=" searchResultType === EResult.NoResult">沒有這個人喔!</p>
        <p *ngIf=" searchResultType === EResult.WrongInput">請輸入英數字!d</p>
    <ng-container *ngIf=" showProfiles ">
        <img [src]="this.searchResultView?.avatar">
        <p class="name">{{ this.searchResultView?.name }}</p>
        <p *ngIf="searchResultType === EResult.InFriends">已加入好友</p>
        <ng-container [ngSwitch]="searchResultType">
            <button *ngSwitchCase="EResult.InFriends" (click)="toChat()">聊天</button>
            <button *ngSwitchCase="EResult.Add" (click)="addAsFriend()">加入好友列表</button>
        </ng-container>
    </ng-container>
